* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
}

* {
  font-family: "Roboto", sans-serif;
}

.button {
  padding: 20px 28px;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 4px 4px 20px #8c8c8c;
  margin-top: 30px;
}

.card {
  position: relative;
  width: 90%;
  height: 250px;
  margin: 20px auto 0;
  border-radius: 20px;
  overflow: hidden;
}
.card__img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.card__legend {
  position: absolute;
  bottom: 0;
  height: 31%;
  width: 100%;
  display: flex;
  background-color: white;
}
.card__legend div {
  padding: 10px 20px;
}
.card__legend div:last-child {
  margin-left: auto;
}
.card__legend p {
  margin-top: 6px;
  font-weight: 300;
}

.sticker-new {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  padding: 4px 8px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 10px 0;
}
.header i {
  position: absolute;
  top: 50%;
  left: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 0;
  overflow: hidden;
}
nav a {
  text-decoration: none;
  color: black;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  height: 50px;
  box-shadow: inset 0 0 20px #d9d9d9;
}
.form input {
  margin-left: 20px;
  border: none;
  background-color: #F2F2F2;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  background-color: #f7f7f7;
  padding-top: 40px;
}
.hero__heading {
  font-size: 1.7rem;
  font-weight: 550;
  width: 70%;
  text-align: center;
}
.hero__subheading {
  margin: 0 0 17px 0;
  font-size: 1.25rem;
  font-weight: 247.5;
  text-align: center;
  padding-top: 20px;
}
.hero__img {
  width: 100%;
}

.working {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.working__heading {
  padding-left: 20px;
  margin-top: 40px;
}
.working__item {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  width: 85%;
  height: 60px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #d9d9d9;
  margin-top: 20px;
}
.working__item div:first-child {
  position: absolute;
  top: 35%;
  left: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: #9356DC;
}
.working__item div:nth-child(2) {
  padding-left: 10px;
}
.working__item > *:not(:first-child) {
  margin-left: 30px;
}

.restaurent {
  padding-top: 20px;
  padding-bottom: 80px;
  background-color: #F2F2F2;
}
.restaurent__heading {
  padding-left: 20px;
  margin-top: 40px;
}

.course {
  padding-top: 26px;
}
.course__heading::after {
  content: "";
  display: block;
  margin-top: 4px;
  width: 60px;
  border: 1px solid #99E2D0;
}
.course h2 {
  font-weight: 200;
}
.course p {
  font-weight: 100;
  margin-top: 4px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.course__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 98%;
  margin-top: 14px;
  padding-left: 8px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 4px #cccccc;
  overflow: hidden;
}
.course__item h3 {
  margin-top: 10px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.course__item div:first-child {
  width: 80%;
  transition: width 300ms ease-in-out;
}
.course__item div:nth-child(2) {
  margin-bottom: 10px;
  transition: transform 300ms ease-in-out;
  transform: translateX(100%);
}
.course__item div:nth-child(3) {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  transition: transform 300ms ease-in-out;
  transform: translateX(102%);
}
.course__item div:nth-child(3) i {
  color: white;
  transition: transform 300ms 150ms ease-in-out;
  transform: rotate(-180deg);
}
.course__item:hover > div:first-child {
  width: 70%;
}
.course__item:hover > div:nth-child(2) {
  transform: translateX(17px);
}
.course__item:hover > div:nth-child(3) {
  transform: translateX(47%);
}
.course__item:hover > div:nth-child(3) i {
  transform: rotate(0);
}

footer {
  background-color: #2e2e2e;
  color: white;
  padding-left: 20px;
  height: 225px;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.2rem;
  padding: 20px 0;
}
footer ul {
  list-style: none;
  margin-bottom: 8px;
}
footer li + li {
  margin-top: 8px;
}
footer a {
  text-decoration: none;
  color: white;
}

.menu {
  position: relative;
  top: -50px;
  border-radius: 40px 40px 0 0;
  padding: 0 20px;
  background-color: #F2F2F2;
  height: 100vh;
}
.menu__heading {
  display: flex;
  padding-top: 40px;
}
.menu__heading h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  font-weight: 400;
}
.menu__heading div {
  margin-left: auto;
  padding-right: 20px;
}

/*# sourceMappingURL=style.css.map */
