.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-quater;
    height: 50px;
    box-shadow:inset 0 0 $padding-left darken($color: $color-quater, $amount:10);
    & input{
        margin-left: $padding-left;
        border: none;
        background-color: $color-quater;
    }
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    background-color: lighten($color: $color-quater, $amount: 2);
    // background-color: $color-quater;
    @include main-padding-top(2);
    &__heading{
        font-size: 1.7rem;
        font-weight: $font-weight-heading;
        width: 70%;
        text-align: center;
    }
    &__subheading{
        margin: 0 0 17px 0;
        font-size: 1.25rem;
        font-weight: $font-weight-heading*0.45;
        text-align: center;
        padding-top: $padding-left;
    }
}



.working{
    display: flex;
    flex-direction: column;
    padding-bottom: $padding-left*2.5;
    &__heading{
        padding-left: $padding-left;
        @include main-margin-top(2);
    }
    &__item{
        position:relative;
        display: flex;
        align-items: center;
        // justify-content: space-around;
        background-color: $color-quater;
        width: 85%;
        height: 60px;
        margin: auto;
        border-radius: 20px;
        box-shadow: 1px 1px 10px darken($color: $color-quater, $amount: 10);
        @include main-margin-top(1);
        & div:first-child{
            position: absolute;
            top: 35%;
            left: -6px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            color: white;
            text-align: center;
            font-size: 0.8rem;
            border-radius: 50%;
            background-color: $color-primary;
        }
        & div:nth-child(2){
            padding-left: $padding-left*0.5;
        }
        &>*:not(:first-child){
            margin-left: $padding-left*1.5;
        }


        
    }
}

.restaurent{
    @include main-padding-top(1);
    background-color: $color-quater;
    &__heading{
        padding-left: $padding-left;
        @include main-margin-top(2);
    }
}