footer{
    background-color: lighten($color: black, $amount: 18);
    color: white;
    padding-left: $padding-left;
    height: 225px;
    & h2{
        font-family: 'Shrikhand', cursive;
        font-size: 1.2rem;
        padding: $padding-left 0;
    }
    & ul{
        list-style: none;
        margin-bottom: $padding-left*0.4;
    }
    & li+li{
        margin-top: $padding-left*0.4;
    }
    & a{
        text-decoration: none;
        color: white;
    }

}