@mixin main-padding-top($number) {
    padding-top: $padding-left*$number;
    
}
@mixin main-margin-top($number) {
    margin-top: $padding-left*$number;
    
}

@mixin crop{
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

@mixin tablette {
    @media all and (min-width: map-get($breakpoints,tab)){
        @content;
    }
}
@mixin desktop {
    @media all and (min-width: map-get($breakpoints,desk)){
        @content;
    }
}