@mixin main-padding-top($number) {
    padding-top: $padding-left*$number;
    
}
@mixin main-margin-top($number) {
    margin-top: $padding-left*$number;
    
}

@mixin crop{
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}